.card{
    border-radius: 1em;
    background: var(--blue);
    margin: 5px;
    padding: 5px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}