.Transfer{
    border-radius: 1.5em;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    max-width: 800px;
    padding: 1em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
}

.input{
    outline: none;
    background-color: var(--grey);
    color: white;
    border-radius: 0.5em;
    border: 2px solid var(--light-blue);
    margin: 0.5em;
    width: 100%;
    height: max(min(12vw,36px),18px);
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    transition: width 0.25s cubic-bezier(.3,.03,.39,1.87);
    -webkit-transition: width 0.25s cubic-bezier(.3,.03,.39,1.87);
    -moz-transition: width 0.25s cubic-bezier(.3,.03,.39,1.87);
    -ms-transition: width 0.25s cubic-bezier(.3,.03,.39,1.87);
    -o-transition: width 0.25s cubic-bezier(.3,.03,.39,1.87);
}

.input:focus{
    border: 2px solid white;
    width: 120%;
}

.input:not(:placeholder-shown){
    background-color: rgb(41, 41, 41);
}

.button{
    cursor: pointer;
    background-color: var(--blue);
    border: none;
    border-radius: 0.5em;
    width: 75%;
    height: max(min(14vw,42px),21px);
    font-size: min(7vw,21px);
    transition: background-color 0.125s ease-out;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    -webkit-transition: background-color 0.125s ease-out;
    -moz-transition: background-color 0.125s ease-out;
    -ms-transition: background-color 0.125s ease-out;
    -o-transition: background-color 0.125s ease-out;
}

.button:hover{
    background-color: var(--light-blue);
}

.button:active{
    background-color: white;
}